.navbar {
    border-radius: 0;
    position: relative;
    z-index: 1000;
    min-height: 90px;
    margin-bottom: 10px;
    background-color: white;
    border-color: #e6e6e6;
    border-top: 4px solid #a44246;
}

.navbar .navbar-brand img {
    width: 226px;
}
